::selection {
    color: #000;
    background-color: #ecdede;
}

html {
    // @include vignette;

    body {
        &.container {
            max-width: 1240px;

            @media (max-width: $break-sm) {
                .container {
                    padding: 0;
                }
            }
            @media (min-width: $break-xxl) {
                max-width: 1440px;
            }
        }
        color: $black;
        background-color: $light;
        min-height: 100vh;
    }
}