.light {
    background-color: $white;

    &.project-code {
        .title {
            color: $black;
        }
    }

    .btn-code-primary,
    .btn-code-secondary {
        color: $black;
    }

    .btn-code-primary:hover {
        color: $dark-red;
    }

    .btn-code-secondary:hover {
        color: $dark-grey-text;
    }
}

.dark {
    background-color: $black;

    &.project-code {
        .title, .language {
            color: $light;
        }
    }

    .btn-code-primary,
    .btn-code-secondary {
        color: $white;
    }

    .btn-code-primary:hover {
        color: $light-red;
    }

    .btn-code-secondary:hover {
        color: $light-grey-text;
    }
}

.btn-code-primary,
.btn-code-secondary {
    @include transition;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 12px;
}

.btn-code-primary::after {
    content: '●';
    padding: 0 10px;
}

.box-link {
    @include inconsolata;
    display: inline-block;
    border: 1px solid black;
    padding: 5px 7px;
}