// COLOURS
$light:                 #FCFCFC;
$dark:                  #11100e;
$white:                 #FFF;
$black:                 #111;
$light-grey-text:       #AAA;
$dark-grey-text:        #777;
$light-red:             #e6656a;
$dark-red:              #6f0f0f;

// FONTS
$roboto:                'Roboto', sans-serif;
$inconsolata:           'Inconsolata', sans-serif;
$font-size:             16px;
$font-xs:               0.6em;
$font-s:                0.9em;

//BREAKS
$break-sm:              567px;
$break-md:              768px;
$break-lg:              991px;
$break-xl:              1200px;
$break-xxl:             1441px;